---
---

@import "{{ site.theme }}";
body {
	color: white;
	background-color: #191919;
	padding: 0;
}
main {
}
main, footer > section {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}
h1 {
	font-size: 64px;
	font-variant:small-caps;
}
h2 {
	font-size: 40px;
	font-variant:small-caps;
}
p {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 24px;
}
p.indent {
	margin-left: 1em;
}
a:link {
	text-decoration: none;
	border-bottom:2px dotted;
	color: #55FFFF
}
a:visited {
	text-decoration: none;
	border-bottom:2px dotted;
	color: #FF55FF
}
